<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons3.css">
</head>
<body>
<div class="head-box">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand">{{ obj.blog.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              {% if current_obj.username %}
                  <li><a href="#"><img class="jpg" src="{{ current_obj.avatar }}" alt=""></a></li>
                  <li><a href="#">{{ current_obj.nickname }}</a></li>
                  <li><a href="/logout/">注销</a></li>
              {% else %}
                  <li><a href="/login/">登录</a></li>
                  <li><a href="#">注册</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</div>

<div class="container">

    <div class="col-md-4">

        <div class="left1 list-group">
          <div href="#" class="list-group-item active">
            公告
          </div >
            <div class="list-group-item">昵称：<a href="">{{ obj.nickname }}</a></div>
            <div class="list-group-item">粉丝：<a href="">{{ followers }}</a></div>
            <div class="list-group-item">关注：<a href="">{{ users }}</a></div>
            <div class="list-group-item">邮箱：<a href="">{{ obj.email }}</a></div>
        </div>

        <div class="left2 list-group">
          <div href="#" class="list-group-item active">
            标签
          </div >
            {% for msg in tag_list %}
                {% if msg.tags__title %}
                    <div class="list-group-item"><a href="/{{ obj.blog.site }}/tag={{ msg.tags__nid }}/">{{ msg.tags__title }}({{ msg.c }})</a></div>
                {% else %}
                    <div class="list-group-item"><a href="/{{ obj.blog.site }}/tag=others/">未分类({{ msg.c }})</a></div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="left2 list-group">
          <div href="#" class="list-group-item active">
            分类
          </div >
            {% for i in category_list %}
            <div class="list-group-item"><a href="/{{ obj.blog.site }}/category={{ i.category_id }}/">{{ i.category__title }}({{ i.c }})</a></div>
            {% endfor %}
        </div>

        <div class="left2 list-group">
          <div href="#" class="list-group-item active">
            时间
          </div >
            {% for i in date_list %}
                <div class="list-group-item"><a href="/{{ obj.blog.site }}/date_time={{ i.c }}/">{{ i.c }}({{ i.ct }})</a></div>
            {% endfor %}
        </div>

    </div>

    <div class="col-md-8">

                {% for article in articles %}
                    <div class="item">
                        <div class="title"><a href="/{{ obj.blog.site }}/article={{ article.nid }}/">{{ article.title }}</a></div>
                        <div class="ot clearfix">
                            <a class="float-l" href=""><img src="{{ article.blog.user.avatar }}" alt=""></a>
                            <span class="ot-text">
                                {{ article.summary }}
                            </span>
                        </div>
                        <div class="foot">
                            <a class="writer fa fa-user-o" href="">{{ article.blog.user.nickname }}</a>发布于{{ article.create_time|date:"Y-m-d H:i:s" }}
                            <a href="" class="reply fa fa-commenting-o">{{ article.comment_count }}</a><a href="" class="ok fa fa-thumbs-o-up">{{ article.up_count }}</a>
                        </div>
                    </div>
                {% endfor %}

       <nav aria-label="Page navigation">
          <ul class="pagination fff">
              {{ page_info.pager|safe }}
          </ul>
        </nav>

    </div>
</div>

</body>
</html>