<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons2.css">
    {% block css %}{% endblock %}
</head>
<body>
<div class="pg-header">
    <div class="logo left">后台管理</div>
    <div class="avatar right" style="position: relative">
        <img style="width: 40px;height: 40px" src="{{ obj.user.avatar }}">
        <div class="user-info">
            <a href="">个人资料</a>
            <a href="">注销</a>
        </div>
    </div>
    <div class="r-menus right">
        <a href="/blog/{{ site }}/"><i class="fa fa-reply" aria-hidden="true"></i>返回个人主页</a>
        <a href=""><i class="fa fa-commenting-o" aria-hidden="true"></i>消息</a>
        <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i>邮件</a>
    </div>
</div>
<div class="pg-body">
    <div class="menus">
        <a href=""><i class="fa fa-university" aria-hidden="true"></i>文章管理</a>
        <a href=""><i class="fa fa-user-o" aria-hidden="true"></i>分类管理</a>
        <a href=""><i class="fa fa-wheelchair" aria-hidden="true"></i>标签管理</a>
        <a href=""><i class="fa fa-wheelchair" aria-hidden="true"></i>个人信息</a>
    </div>
    <div class="content">
        <ol class="breadcrumb">
          <li><a href="#">文章管理</a></li>
          <li class="active">文章列表</li>
        </ol>
        {% block xx  %}{% endblock %}

    </div>

</div>

{% block js %}{% endblock %}

</body>
</html>